.sign{
    background-color: #f5f5f5;
    max-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px auto;
    transition: 0.3s;
}
.sign:hover{
    transform: scale(1.02);
}
.sign h1{
    text-align: center;
}
.sign p {
    margin-top: 15px;
}
form{
    padding: 50px;
    background-color: white;
    border-radius: 20px;
}

.form-group label{
    display: block;
    margin-bottom: 6px;
    border-radius: 8px;
    
}
.form-group input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
